* {
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#foto {
    align-self: center;
    width: 500px;
    height: 300px;
    border-radius: 50px;
}

h1{
    color: rgba(255, 0, 0, 0.855);
    padding: 2px;
}

#foto:hover {

    transform: scale(1.1);
    transition-duration: 0.4s;
}

body{
    background-color: rgba(0, 0, 255, 0.728);
}

p {
    font-weight: bold;

}
